{% extends "forum/forum.html" %}

{% block content %}
    <div class="container">
        <div class="content">
            <a href="{% url forum-add-post forum=forum.id %}">add topic</a>
            <table class="table table-striped">
            {% for forum in forums %}                     
                <tr>
                    <td>
                        <h4><a href="{% url forum-forum id=forum.id slug=forum.slug %}">{{ forum.title }}</a></h4>
                        <p>{{ forum.content }}</p>
                    </td>
                    <td class="text-center">
                        {{ forum.topic_count }}
                    </td>
                    <td>
                        {{ forum.post_count }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
